#chai
export CHAIDIR=/home/luca/work/chai
export CHAISRCDIR=${CHAIDIR}/src
export CHAIHELPDIR=${CHAIDIR}/share/help

#compilation
export CONFIG_SITE=${CHAIDIR}/share/config.SITE.example

export PATH=${CHAIDIR}:$PATH

