<style type="text/css">
   body { color: black; background: white; margin: 0px; font-family: 
Verdana, Arial, sans-serif;}
  div.box { border: dotted; border-width: thin; background: black ;color:
white}
  div.color {
    background: rgb(204,204,255);
    padding: 0.5em;
    border: none;
  }
  h1 {  color: white; background:rgb(255,0,0);
	border: thin solid #999;
	/*border-right-width: 15pt;*/
	/*text-decoration: line-through*/
	font-family: Verdana, Arial, sans-serif; 
	font-size:36px;margin:2px;      
	} 
  ul {font: verdana;}
  A:hover	{color:red;}

</style>

