html, body
{
	height: 100%;
	padding: 0;
	margin: 0;
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #333333;
}

h1
{
	font-size:1.5em;
	margin: 0;
	padding: 0;
	font-weight:normal;
	font-family:Tahoma;
	color:#666666;
}

img
{
	border: none;
}
table
{
	width: 100%;
}
input
{
	/*width:200px;*/
	padding: 3px;
}

select
{
	/*width:210px;*/
	padding: 3px;
}
textarea
{
	/*width:200px;*/
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
}
a
{
	color: #333333;
}
a:active, visited
{
	color: #000000;
}
a:hover
{
	color: #666666;
}
td
{
	vertical-align: top;
}
#Header
{
	height: 107px;
	background: url(images/header-back.gif) repeat-x bottom left;
}
#Header img
{
	float: left;
}

#Header a.grc {
float:right;
position:relative;
border:0px;
top:7px;
background:none;

}
#Header a.grc:hover {
float:right;
position:relative;
border:0px;
top:7px;
background:none;

}
#Header1 a
{
	float: left;
	display: block;
	padding: 3px 10px 3px 10px;
	margin: 0px 5px;
	border: 1px solid #d4d4d4;
	background: url(images/button-back.gif) repeat-x bottom left;
	position: relative;
	top: 30px;
	background-color: #ffffff;
	text-decoration:none;
}
#Header1 a:hover
{
	background-color: #f5f5f5;
	color: #000000;
	border: 1px solid #656565;
	border-color: #d4d4d4 #656565 #656565 #d4d4d4;
}
.Error
{
	padding: 10px;
	border: 1px solid #e5e5e5;
	color: red;
	position: relative;
	top: -2px;
	margin: 0 5px 0 0;
	background: #ffffe0 url(images/i.gif) no-repeat right bottom;
}


#Footer
{
	border-top: 1px solid #e4e4e4;
	color: #999999;
	padding: 5px 5px 5px 35px;
	margin: 15px 0;
	font-size: 100%;
}
.fieldTitle
{
	text-align: right;
	font-weight: bold;
	white-space: nowrap;
}
.fieldValue
{
	border: 1px solid #d4d4d4;
	width: 100%;
	
}


.fieldValueDate
{
	border: 1px solid #d4d4d4;
	width:100px;
}

.helpText
{
	color: #666666;
	
	margin: 2px 0 0 0;
	padding-left: 8px;
	background: url(images/a.gif) left top no-repeat;
}
h2
{
	
	font-size:1.2em;
	margin:0;
	padding:0;
	
	
	
}
.Submit
{
	padding: 2px;
	width: 15%;
	margin: 0 0 0 35%;
}
#ContainerDiv
{
	padding: 5px 30px 5px 40px;
}

.greybox
{
	margin-left:50px;
	margin-right:50px;
	background:#C0C0C0 url(images/center-back.gif) center bottom no-repeat;
}
.whitebox td
{
background-color:#FFFFFF;
padding:20px;
width:20%;
}
.whitebox td h1
{
	color:Green;
}
.enter
{
margin:auto;
display:block;
position:relative;
top:-25px;
left:-3px;
}
.notdone
{
font-size:10px;
color:#980f08;
}


.new
{
font-size:10px;
color:green;
}



.deleterow
{
	float:right;
	background: url(images/minus.gif) no-repeat 0 center;
	padding:2px 0 2px 10px;
}


.addrow
{
	padding:2px 0 2px 10px;
	background: url(images/plus.gif) no-repeat 0 center;
}


.mode
{
	font-family:verdana;
	font-weight:bold;	
	color:Red;
}

.mode a
{
	font-family:verdana;
	font-weight:normal;	
	color:Black;
}


.Btns
{
	text-align:center;
	padding: 0px 0px 0px 0px;
}

.Btns a
{
	text-align:center;
	padding: 0px 0px 0px 0px;
	white-space:normal;
	height:65px;
		
}

.info
{
	text-align:left;
	padding: 10px 10px 10px 10px;
	margin-left:50px;
	margin-right:50px;
}

.info_center
{
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:Green;
	padding: 10px 10px 10px 10px;
	margin-left:100px;
	margin-right:100px;
}


